/*contact start */

.contact{
    background-image: url("../Images/Contact/1.jpg");
    background-size: cover;
}

.contact-Head{
    display: grid;
    justify-items: center;
    align-items: center;

}

.contact-Head-h1{
    padding: 20px;
    margin-top: 50px;
    color: rgb(6, 43, 100);
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(229, 230, 229);
    border-radius: 20px;
}

.small_message{
  color: white;
  padding: 30px;
}

.bottom-section{
  display: flex;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.423);
  padding: 18px;
  width: 80%;
  border-radius: 7px;
}
  .contact-in {
    width: 55%;
    height: 400px;
    min-height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
  }
  
  .contact-in h2 {
    color: rgb(45, 85, 100);
    margin-left: 40%;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact-in button{
    width: 80%;
    margin-left: 10%;
    height: 25%;
    border-radius: 10px;
    font-size: larger;
  }

  .contact-in button a{
    color: #fff;
    text-decoration: none;
  }

  .contact-in button a:hover{
    color: rgb(0, 0, 0);
  }

  .contact-map {
    height: auto;
    margin: auto;
    border-radius: 6px;
  }
  
  #cont12{
    background-color: #0077B5;
    transition: transform 1s;
  }
  
  #cont12:hover{
    background-color: rgb(91, 167, 253);
    box-shadow: 10px 5px 5px black;
    transform: translate(-5px, -5px);
  }

  #cont13{
    background: linear-gradient(to top, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    transition: transform 1s;
  }

  #cont13:hover{
    background: linear-gradient(to top, #fbe3a0, #fdb781, #ff88bd, #d989f9, #7782f6) ;
    box-shadow: 10px 5px 5px black;
    transform: translate(-5px, -5px);
  }

  #cont14{
    background-color:#7289da;
    transition: transform 1s;
  }

  #cont14:hover{
    background:#bcc9f7 ;
    box-shadow: 10px 5px 5px black;
    transform: translate(-5px, -5px);
  }

  .contact-form {
    color: #5252db;
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
  }
  
  .contact_form_info {
    padding-left: 30px;
    text-align: left;
  }
  
  .social_media {
    text-decoration: none;
    font-size: 17px;
  }
  
  .sm_icon:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .bottom-section{
      display: grid;
      margin-bottom: 50px;;
      padding: 10px;
      width: auto;
      margin: 30px;
    }
    .contact-map {
      height: 84%;
      width: 94%;
      overflow: hidden;
      margin-top: 20px;
    }
    .contact-in {
      width: 94%;
      margin-bottom: 20px;
    }
    .contact-in h2{
      margin-left: 31%;
    }
  }
  
  /* contact end */
  