

.ab{
    width: 100%;
    margin: 0%;
    z-index: 0;
    background-image: url('../Images/home/1.png');
}

.ab2{
    width: 100%;
    height: 200px;
    margin-top: 430px;
    margin-bottom: -10px;
    z-index: 1;
    right: 0;
    
}

.ab3{
    width: 20%;
    height: 170px;
    z-index: 0;
    margin-bottom: -900px;
    right: 0;
    animation: sea 20s linear infinite;
}

.ab4{
    height: 300px;
    margin-bottom: -420px;
    margin-left: 330px;
    
}

#r{
    margin-bottom: -400px;
    height: 100px;
    margin-left: 280px;
    font-size: 40px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes sea{
    100% { 
        -webkit-transform: translateX(440%);  
      }
}

@media screen and (max-width: 768px) {
    .ab{
        align-content: center;
        overflow: hidden;
        position:center;
        appearance: 'no-repeat';
        height: 450px;
    }

    .ab2{
        align-content: center;
        overflow: hidden;
        position:center;
        appearance: 'no-repeat';
        height: 200px;
        margin-top: 280px;
    }

    .a3{
        margin-top: -250px;
    }
    .y{
        display: none;
    }
    .ab4{
        height: 200px;
        margin-bottom: -360px;
        margin-left: 40px;
    }
    
    #r{
        margin-bottom: -300px;
        height: 60px;
        margin-left: 260px;
        font-size: 18px;
        padding: 10px;
    }
    @keyframes sea{
        100% { 
            -webkit-transform: translateX(200%);  
          }
    }
}
